.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 24px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  color: #EBEBEB;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.section {
  margin-bottom: 16px;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.section:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
}

.section h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #EBEBEB;
}

.form-group {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 16px;
}

input[type="text"] {
  width: 320px;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 14px;
  background: transparent;
  color: #EBEBEB;
}

input[type="text"]:focus {
  border-color: #008489;
  outline: none;
}

input[name="targetPath"] {
  width: 450px;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-group label {
  font-size: 14px;
  margin: 0 4px;
  color: #EBEBEB;
}

input[type="checkbox"],
input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.radio-group {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
}

.button-group {
  margin-top: 32px;
  padding-top: 24px;
  border-top: 1px solid #EBEBEB;
}

button {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

button#saveConfig {
  background: #FF5A5F;
  color: white;
  border: none;
  margin-right: 16px;
}

button#generateComponent {
  background: #008489;
  color: white;
  border: none;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#moduleNameGroup {
  margin-left: 24px;
}

.file-preview {
  font-family: 'Consolas', monospace;
  padding: 16px;
  color: #EBEBEB;
  white-space: pre;
}

.file-preview .tree-item {
  position: relative;
  padding-left: 20px;
  line-height: 1.5;
}

.file-preview .tree-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 1px dashed rgba(255, 255, 255, 0.3);
}

.file-preview .tree-item:last-child::before {
  height: 50%;
}

.file-preview .tree-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 12px;
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}

.file-preview .folder {
  color: #81C784;
  font-style: italic;
}

.file-preview .folder.existing {
  color: #ffba5a;
  font-style: italic;
}

.file-preview .file {
  color: #81C784;

}

.file-preview .folder.root {
  color: #FF5A5F;
  /* 使用醒目的红色 */
  font-weight: bold;
  font-style: italic;
}

.file-preview .file.existing {
  color: #ffba5a;
  
}
.tip-container {
  font-size: 12px;
  display: inline-block;
  margin-left: 8px;
}
.tip.root {
  color: #FF5A5F;
}
.tip.new {
  color: #81C784;
}
.tip.existing {
  color: #ffba5a;
}